@import url("https://fonts.googleapis.com/css?family=Lato:400,700&subset=latin-ext");
@font-face {
  font-family: 'ProximaNova-Regular';
  src: url("../assets/fonts/proximanova-regular-webfont.eot");
  src: url("../assets/fonts/proximanova-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/proximanova-regular-webfont.woff2") format("woff2"), url("../assets/fonts/proximanova-regular-webfont.woff") format("woff"), url("../assets/fonts/proximanova-regular-webfont.ttf") format("truetype"), url("../assets/fonts/proximanova-regular-webfont.svg#proxima_novaregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ProximaNova-Bold';
  src: url("../assets/fonts/proximanova-bold-webfont.eot");
  src: url("../assets/fonts/proximanova-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/proximanova-bold-webfont.woff2") format("woff2"), url("../assets/fonts/proximanova-bold-webfont.woff") format("woff"), url("../assets/fonts/proximanova-bold-webfont.ttf") format("truetype"), url("../assets/fonts/proximanova-bold-webfont.svg#proxima_nova_rgbold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'MyriadPro-Regular';
  src: url("https://nomail.com.ua/files/eot/01c20d3991de7db92d4f20132e1b3c7f.eot?#iefix") format("embedded-opentype"), url("https://nomail.com.ua/files/woff/01c20d3991de7db92d4f20132e1b3c7f.woff") format("woff"), url("https://nomail.com.ua/files/woff2/01c20d3991de7db92d4f20132e1b3c7f.woff2") format("woff2"); }

@font-face {
  font-family: 'MyriadPro-Regular';
  src: local("MyriadPro-Regular"), url("https://nomail.com.ua/files/woff/01c20d3991de7db92d4f20132e1b3c7f.woff") format("woff"); }

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

* {
  box-sizing: border-box; }

html,
body {
  width: 100%;
  height: 100%;
  background-color: #f7f7f7;
  font-family: 'ProximaNova-Regular'; }

button,
a {
  cursor: pointer;
  text-decoration: none; }

.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  background-image: url("../assets/images/higer-main.png");
  background-position: 0px;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 35px 110px 65px; }

header .nav-container {
  padding: 25px 40px 30px;
  flex: 0 0 auto;
  display: flex;
  background-color: white;
  height: 90px;
  align-items: center;
  overflow: hidden;
  justify-content: space-around; }
  header .nav-container .logo {
    display: block; }
    header .nav-container .logo img {
      vertical-align: middle; }
  header .nav-container nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0; }
    header .nav-container nav ul a {
      text-decoration: none;
      font-size: 16px;
      letter-spacing: 1px;
      line-height: 26px;
      color: #070707;
      font-family: 'Lato';
      margin: 0 20px; }
      header .nav-container nav ul a:hover {
        color: #777;
        transition: .3s ease-in-out; }
    header .nav-container nav ul .active {
      color: #777; }
  header .nav-container .gmail {
    display: flex; }

.head-text {
  padding: 0;
  margin: 0; }
  .head-text img {
    margin: 0;
    padding: 0; }
  .head-text p {
    padding: 0;
    margin: 0;
    font-size: 50px;
    letter-spacing: 3px;
    line-height: 60px;
    color: #edeef5;
    font-family: 'Myriad Pro';
    font-weight: bold; }

.nav-aboutUs {
  display: flex;
  justify-content: space-around; }
  .nav-aboutUs button {
    font-size: 22px;
    letter-spacing: 1px;
    line-height: 60px;
    color: #eeeff6;
    font-family: 'Myriad Pro';
    min-width: 296px;
    height: 78px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.65);
    border-radius: 5px;
    border: 1px solid transparent;
    background-color: #03b3d9; }

.main-container {
  font-family: 'Myriad Pro'; }
  .main-container h3 {
    padding: 0;
    padding-bottom: 40px;
    margin: 0;
    font-size: 50px;
    letter-spacing: 3px;
    line-height: 60px;
    color: #f5f7f8; }
  .main-container p {
    padding: 0;
    margin: 0;
    padding-bottom: 10px;
    font-size: 25px;
    letter-spacing: 2px;
    line-height: 40px;
    color: #f5f7f8; }
  .main-container .goolgeMap {
    position: relative;
    width: 100%;
    height: 600px;
    padding: 0;
    margin: 0; }
    .main-container .goolgeMap .dropdowns-menu {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: absolute;
      left: 110px;
      top: 40px;
      bottom: 40px; }
      .main-container .goolgeMap .dropdowns-menu .nice-select {
        border-color: transparent;
        margin: 25px 0;
        min-height: 50px;
        min-width: 370px;
        background-color: #03b3d9;
        font-size: 21px;
        color: white;
        font-family: "Myriad Pro"; }
        .main-container .goolgeMap .dropdowns-menu .nice-select .list {
          background-color: #010325;
          left: 0;
          right: 0; }
      .main-container .goolgeMap .dropdowns-menu .nice-select .option:hover, .main-container .goolgeMap .dropdowns-menu .nice-select .option.focus, .main-container .goolgeMap .dropdowns-menu .nice-select .option.selected.focus {
        background-color: #03b3d9; }
  .main-container .our-services {
    display: flex;
    height: 600px;
    background-color: #0399b9; }
    .main-container .our-services .service-text {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
    .main-container .our-services .service-image {
      width: 100%;
      height: 100%;
      background-image: url("../assets/images/service-bus.png");
      background-position: -470px;
      background-repeat: no-repeat; }

.footer {
  background-color: #010425;
  color: #fff;
  padding: 40px 110px 25px; }
  .footer-items {
    display: flex;
    justify-content: space-between; }
  .footer-item {
    display: flex;
    flex-direction: column; }
    .footer-item:nth-child(2) ul {
      display: flex;
      justify-content: center; }
      .footer-item:nth-child(2) ul a {
        display: block;
        margin: 0 10px; }
        .footer-item:nth-child(2) ul a svg {
          width: 35px;
          height: 35px;
          fill: #fff;
          display: block; }
    .footer-item h4 {
      text-transform: uppercase;
      font-size: 18px;
      letter-spacing: 1px;
      line-height: 26px;
      color: #e4e4ec;
      font-family: "Proxima Nova";
      font-weight: bold; }
    .footer-item ul {
      margin: 0;
      padding: 0;
      list-style: none; }
    .footer-item a,
    .footer-item p {
      font-size: 16px;
      letter-spacing: 1px;
      line-height: 26px;
      color: #e4e4ec;
      font-family: "Proxima Nova";
      font-weight: bold; }
  .footer .copyright {
    width: 100%;
    text-align: right;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 26px;
    color: #e4e4ec;
    font-family: "Proxima Nova";
    font-weight: bold; }
  .footer input {
    width: 100%;
    min-height: 50px;
    padding-left: 10px;
    border-color: transparent;
    background-color: #0399b9;
    color: #5e7175;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 26px; }
